*{font-family: 'Cinzel', serif;
}
body{

	margin:0;
	padding: 0; 
	background: url('img/lg.jpg');
	background-size:100% 1500px;
	background-position: center;
	font-family: sans-serif;
	
}
.login-box
{
	width: 350px;
	height: 420px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;

}
#pic{
height:120px;
width: 120px;
position:absolute;
top:-60px;
left: 111px;
left:calc((350px-120px)/2)

}
.form{
	margin-top:25px;
	padding:20px;
	height:200px;
	width: 300px;
	border-radius:20px;
	background-color: red;
}
h2{
	text-align:center;
	color:white;
	text-transform: uppercase;
	font-size: 2em;
	word-spacing: 10px;
	margin-top:50px;

}
.inputbox{
	width:calc(100% - 40px);
	height: 30px;
	display: block;
	margin: auto;
	padding:0 10px;
	border-radius:10px;

}
::placeholder{
	letter-spacing: 2px;
	color: black;
}
button{
	width:96%;
	height: 30px;
	display: block;
	margin:0px 4px 0px 7px;
	color: white;
	background-color: blue;
	  
	    border-radius:5px;
}
.fs{
		width: calc(100% - 40%);
	height: 30px;
	display: block;
	margin: auto;
	text-transform: uppercase;
	text-align:right;
	box-sizing: border-box;
}
.su{
	width: calc(100% - 40%);
	height: 30px;
	display: block;
	margin: auto;
	text-transform: uppercase;
	text-align:left;
	box-sizing: border-box;
	    margin-left: 122px;
		
}

}